var {{ .Name }} = `{{ .Query }}`

{{ if .Input -}} 
{{ .Input }}
{{- end }}

{{ .Payload }}

type response{{ .Name }} struct {
	Data *{{ .Name }}Payload `json:"data"`
	Errors []gqlerror.Error `json:errors`
}

func (c *Client) {{ .Name }}(
    {{- if .HasInput}}input {{ .Name }}Input{{ end -}}
) (*{{ .Name }}Payload, error) {  
   	requestBody, err := json.Marshal(request{
		Query: {{ .Name }},
		{{- if .HasInput }} 
		Variables: input,
    	{{ end }}
	})

	if err != nil {
		return nil, err
	}

	resp, err := c.Post(c.Url, "application/json", bytes.NewBuffer(requestBody))  

	if err != nil {
		return nil, err
	}   

	defer resp.Body.Close()

	body, err := ioutil.ReadAll(resp.Body)

	if err != nil {
		return nil, err
	}

	if resp.StatusCode != 200 {
		return nil, fmt.Errorf("Request Failed with status code: %d, body: %v", resp.StatusCode, body)
	}

	var payload response{{ .Name }}
	err = json.Unmarshal(body, &payload)

	if err != nil {
		return nil, err
	}

	if len(payload.Errors) > 0 {
		return nil, &GraphqlError{Errors: payload.Errors}
	}

	return payload.Data, nil
}
