var {{ .Name }} = `{{ .Query }}`

{{ range .Payload.Structs }}
	{{template "struct" . }}
{{ end }}

type response{{ .Name }} struct {
	Data *{{ .Name }}Payload `json:"data"`
	Errors []gqlerror.Error `json:"errors"`
}

func (c *Client) {{ .Name }}(
    {{- if .HasInput}}{{range $index, $element := .Arguments}}{{ .Name }} {{ .Field.GoType }},{{end}}{{ end -}}
	opts *RequestOpts) (*{{ .Name }}Payload, error) {  
   	requestBody, err := json.Marshal(request{
		Query: {{ .Name }},
		{{- if .HasInput }} 
		Variables: map[string]interface{}{
			{{- range $index, $element := .Arguments}}
			"{{ .Name }}": {{ .Name }},
			{{- end }}
		},
    	{{- end }}
	})

	if err != nil {
		return nil, err
	}

	req, err := http.NewRequest("POST", c.URL, bytes.NewReader(requestBody))

	if err != nil {
		return nil, err
	}   

	if opts != nil {
		req.Header = opts.Header
	}

	req.Header.Set("Content-Type", "application/json")

	resp, err := c.Do(req)

	if err != nil {
		return nil, err
	} 

	defer resp.Body.Close()

	body, err := ioutil.ReadAll(resp.Body)

	if err != nil {
		return nil, err
	}

	if resp.StatusCode != 200 {
		return nil, fmt.Errorf("Request Failed with status code: %d, body: %v", resp.StatusCode, string(body))
	}

	var payload response{{ .Name }}
	err = json.Unmarshal(body, &payload)

	if err != nil {
		return nil, err
	}

	if len(payload.Errors) > 0 {
		return nil, &GraphqlError{Errors: payload.Errors}
	}

	return payload.Data, nil
}
